* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    color: #fff;
    padding: 0 16px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 50px;
    border-radius: 999px;
    background: #171100;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -1.16px;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    --webkit-line-clamp: var(--line-clamp, 1);
    --webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.work-break-all {
    word-break: break-all;
}

/* =====  Header ===== */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    color: #5f5b53;
    text-align: center;
    font-size: 1.6rem;
    padding: 8px 21px;
    text-transform: capitalize;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    bottom: 6px;
    left: 21px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .sign-up-btn {
    min-width: 144px;
    margin-left: 49px;
}

/* =====  Hero ===== */
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.05);
}

.hero .hero-summary .item {
    display: flex;
    align-items: center;
}
/* từ cái thứ 2 trở đi + */
.hero .hero-summary .item + .item {
    margin-top: 22px;
}

.hero .hero-summary .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero .hero-summary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}

.hero .hero-summary .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff9e8;
}

.hero .hero-summary .info {
    margin-left: 16px;
}

.hero .hero-summary .info .label {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.85;
}

.hero .hero-summary .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

/* khối hero phải */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .content-block .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero .content-block .cta-group {
    display: flex;
    margin: 38px 0 48px;
    align-items: center;
}

.hero .content-block .hero-cta {
    line-height: 64px;
    min-width: 180px;
    background: var(--primary-color);
}

.content-block .watch-video {
    margin-left: 28px;
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

.content-block .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

.content-block .watch-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.content-block .desc .stats {
    margin: 8px 0 0 -28px;
}

.content-block .desc strong {
    padding: 0 8px 0 28px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
}

/* Popular */
.popular {
    margin-top: 200px;
}

.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .popular-top .desc {
    margin-top: 16px;
    width: 458px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.popular-top .controls {
    display: flex;
    gap: 13px;
    align-items: center;
    justify-content: center;
}

.popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: #fff;
}

.popular-top .control-btn:hover {
    cursor: pointer;
    color: #fff;
    background: var(--primary-color);
}

/* popular courses */

.courses-list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.courses-list .course-item {
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}

.courses-list .course-item .thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.courses-list .course-item .info {
    margin: 16px 22px 22px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 1px solid #e2dfda;
}

.course-item .info .head,
.course-item .info .rating,
.course-item .info .foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-item .info .title a {
    padding-right: 6px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.course-item .info .value {
    margin-left: 6px;
    color: var(--primary-color);
}
.course-item .info .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.course-item .info .foot {
    margin-top: 22px;
}

.course-item .foot .book-btn {
    border-color: transparent;
    border: none;
}

.course-item .foot .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.course-item .foot .book-btn:hover {
    color: #fff;
    background: var(--primary-color);
}

/* ===== feedback ===== */
.feedback {
    margin-top: 200px;
    padding: 96px 0;
    width: 100%;
    /* min-height: 380px; */
    background: #2e2100;
}

.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
    /* transform: translateX(-100%); */
    /* transition: all ease 0.5s; */
}

.feedback-item .info .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .title {
    font-family: var(--font-heading);
    margin-top: 8px;
    color: #f7f7f7;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
}

.feedback-item .info .desc {
    margin-top: 8px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.feedback-item .info .dots {
    display: flex;
}
.feedback-item .info .dot {
    margin-top: 28px;
    margin-right: 6px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}
.feedback-item .info .dot.active {
    background: #ffb900;
    cursor: default;
}

/* block-right */
.feedback .content {
    width: 66%;
    margin-left: auto;
}

.feedback .content .open-quote {
    width: 30px;
    height: 28px;
}

.feedback .content blockquote {
    margin-left: 30px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}

/* ===== features 1 ===== */
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    gap: 130px;
}

.features .imgs {
    display: flex;
    gap: 30px;
}

.features .imgs img:first-child {
    margin-top: 34px;
}

.features .imgs img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.features .content .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.features .btn-active-features {
    margin-top: 32px;
    width: 137px;
    height: 50px;
    border-radius: 26px;
    color: #fff;
    background: var(--primary-color);
}

/* ===== features 2 ===== */
.features-2 {
    margin-top: 70px;
}

.features-2 .body {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.features-2 .content {
    width: 49%;
}

.features-2 .imgs img {
    width: 470px;
    height: 440px;
}

/* ===== blog ===== */

.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog .blog-top {
    text-align: center;
}

.blog .blog-top .desc {
    margin: 16px auto auto;
    width: 448px;
    color: #696262;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.blog .blog-list {
    flex-shrink: 0;
    margin-top: 55px;
    display: flex;
    overflow: hidden;
}

.blog-list .blog-item {
    width: 33.33%;
    margin-right: 30px;
    border-radius: 16px;
    background: #fff;
}

.blog-list .blog-item .thumb {
    display: block;
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.blog-list .blog-item .info {
    padding: 20px 20px 28px;
}

.blog-list .blog-item .info:hover {
    border-radius: 16px;
    background: #fff;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.blog-list .blog-item .info .date {
    position: relative;
    display: inline-flex;
    padding-bottom: 12px;
    align-items: center;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.blog-list .blog-item .info .date::before {
    content: "";
    display: inline-block;
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
}

.blog-list .blog-item .info .date::after {
    position: absolute;
    left: 0;
    right: -27px;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog-item .info .title a {
    display: inline-block;
    margin: 12px 0 12px;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.blog-item .info .btn span {
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
}

.blog-item .info .btn-blog-item {
    border: transparent;
}

.blog-item .info .btn:hover {
    background: var(--primary-color);
}

.blog .dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 6px;
}

.blog .dots .dot {
    width: 6px;
    height: 6px;
    background: #5f5b53;
    border-radius: 50%;
    cursor: pointer;
}

.blog .dots .dot.active {
    cursor: default;
    background: var(--primary-color);
}

/* =====  footer ===== */

.footer {
    padding: 96px 135px 0;
    background: #2e2100;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    gap: 145px;
    padding-bottom: 38px;
    border-bottom: 1px solid #bfbcb2;
}

.footer .row .column {
    width: 19%;
}

.footer .row .column:first-child {
    width: 40%;
}

.footer .row .column:nth-child(2) {
    width: 10%;
}

.footer .row .column:nth-child(3) {
    width: 21%;
}
.footer .row .column:last-child {
    width: 30%;
}

.footer .row .column .desc {
    margin-top: 18px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
}

.footer .row .column .socials {
    margin-top: 18px;
    display: flex;
    gap: 16px;
    width: 10%;
}

.footer .row .column .title {
    display: inline-block;
    padding-bottom: 12px;
    padding-right: 48px;
    border-bottom: 1px solid #59554b;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.75;
}

.footer .row .column .list {
    margin-top: 28px;
}

.row .column .list li {
    margin-bottom: 12px;
}

.row .column .list li:last-child {
    margin-bottom: 0;
}
.footer .row .column .list a {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.footer .row .column .list strong {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
}
.row .column .list .email-footer {
    color: #59554b;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.footer .copy-right {
    padding: 28px 0;
    text-align: center;
}
.footer .copy-right p {
    color: #807d74;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}
