* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: Sen, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    color: #fff;
    padding: 0 16px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 50px;
    border-radius: 999px;
    background: #171100;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* =====  Header ===== */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    color: #5f5b53;
    text-align: center;
    font-size: 1.6rem;
    padding: 8px 21px;
    text-transform: capitalize;
}

.nav a:hover,
.nav li.active a {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    bottom: 6px;
    left: 21px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .sign-up-btn {
    min-width: 144px;
    margin-left: 49px;
}

/* =====  Hero ===== */
.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    width: 48%;
    position: relative;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.05);
}

.hero .hero-summary .item {
    display: flex;
    align-items: center;
}
/* từ cái thứ 2 trở đi + */
.hero .hero-summary .item + .item {
    margin-top: 22px;
}

.hero .hero-summary .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero .hero-summary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}

.hero .hero-summary .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff9e8;
}

.hero .hero-summary .info {
    margin-left: 16px;
}

.hero .hero-summary .info .label {
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.85;
}

.hero .hero-summary .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

/* khối hero phải */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .content-block .heading {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.hero .content-block .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero .content-block .cta-group {
    display: flex;
    margin: 38px 0 48px;
    align-items: center;
}

.hero .content-block .hero-cta {
    line-height: 64px;
    min-width: 180px;
    background: var(--primary-color);
}

.content-block .watch-video {
    margin-left: 28px;
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

.content-block .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

.content-block .watch-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.content-block .desc .stats {
    margin: 8px 0 0 -28px;
}

.content-block .desc strong {
    padding: 0 8px 0 28px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
}
